{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    {% if username %}
    <div class="container header_name text-center">
        <section class="container section_name">
        <img src="../static/images/homework.jpg" alt="image" class="image">
        <h4>Hola, {{ username }} Bienvenido! </h4>
        </section>
    </div>
    {% endif %}

    <div class="container newtask">
        <h2>Crea una nueva tarea</h2>

        {{ wtf.quick_form(todo_form) }}
    </div>

    <div class="container ">
        <h2 class = "text-center">Lista de tareas</h2>
    <ul class="list-group">
        
        {% for todo in todos %}
            {{ macros.render_todo(todo, delete_form, update_form) }}
        {% endfor %}
    </ul>
    </div>
{% endblock %}